:root {
    --primary-red: #dc3545;
    --primary-orange: #fd7e14;
    --primary-blue: #007bff;
    --primary-green: #28a745;
    --primary-yellow: #ffc107;
}

.navbar {
    background-color: var(--primary-blue);
}

.navbar-brand img {
    height: 50px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: var(--primary-orange) !important;
}

/* Style untuk Search */
.search-form {
    position: relative;
    display: flex;
    align-items: center;
}

/* Style Keranjang */
.cart-container {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--primary-red);
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px 7px;
}
